<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src='https://cdn.tailwindcss.com'></script>
    <title>Historique des gain</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css" />
</head>



<!-- component -->

<body class=" bg-withe ">

    <div class=" flex ">
        {{> "sidebar_admin" }}

        <div class=" px-3 flex mt-6 justify-center flex-1	">
            <div class="w-full px-6  text-white py-4  rounded-lg mt-10 lg:mt-0">



                <div class="my-4 bg-amber-600 h-[1px] mb-20"></div>

                <div
                    class="flex justify-between text-red-200 shadow-inner rounded p-3 bg-red-600 px-4 mb-4 hidden error">
                    <p id='demo' class="self-center">Une erreur s'est produite.</p>
                    <strong class="text-xl align-center cursor-pointer alert-del">&times;</strong>
                </div>


                <!-- Alert Success  -->
                <div
                    class="flex justify-between text-green-200 shadow-inner rounded p-3 bg-green-600 mb-4 success hidden"
                >
                    <p class="self-center">
                    <strong>Votre modification a été bien enregistré</strong>
                    </p>
                    <strong class="text-xl align-center cursor-pointer alert-del"
                    >&times;</strong
                    >
                </div>

                <label for="default-search"
                    class="mb-2 text-sm font-medium text-amber-900 sr-only dark:text-white"></label>
                <div class="relative mb-10">
                    <div  >

                    <button id="tirage" type="submit"
                        class=" text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800
                        m-auto text-center block uppercase">Chercher le gagnant</button>
                    </div>
                </div>

                <table class="table-auto border  center  justify-center w-full" id="msg" >
                    <tr>
                        <td class="text-center text-black">
                            Veuillez cliquez sur "Chercher le gagnant" pour commencer le tirage
                        </td>
                    </tr>
                </table>
                <div>
                    <img src="/images/loading-gif-png-5.gif" alt="" id="loading" width="300rem" class="m-auto hidden">
                </div>

                <table class="table-auto border  center  justify-center w-full hidden" id="gagnant" >
                    <tr>
                        <td class="text-center text-black">
                            Félicitations à Malki Hicham, Il a gagné un bon d'achat d'une valeur de 360 EUR
                        </td>
                    </tr>
                </table>





            </div>
        </div>

    </div>

    <script src='/dist/bundle.js'>
    </script>



</body>

</html>
