<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src='https://cdn.tailwindcss.com'></script>
    <title>Historique des gain</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css" />
</head>



<!-- component -->

<body class=" bg-withe ">

    <div class=" flex ">
        {{> "sidebar" }}

        <div class=" px-3 flex mt-6 justify-center flex-1	">
            <div class="w-full px-6  text-white py-4  rounded-lg mt-10 lg:mt-0">

                <div class="mb-2">
                    <label for="name" class="block mb-1 text-lg font-medium text-black">Nom : <span class="text-xs ">
                        </span>
                    </label>

                </div>
                <div class="mb-2">
                    <label for="prenom" class="block mb-1 text-lg font-medium text-black">Prénom : <span
                            class="text-xs">
                            {{client.user.lastName}}</span></label>

                </div>
                <div class="mb-2">
                    <label for="telephone" class="block mb-2 text-lg font-medium text-black">L'email : <span
                            class="text-xs">{{client.user.email}}</span></label>

                </div>


                <div class="my-4 bg-amber-600 h-[1px] mb-20"></div>

                <div class="bg-black w-full flex justify-center text-withe text-xl mb-2 lg:mb-5">
                    Gains
                </div>
                <div
                    class="flex justify-between text-red-200 shadow-inner rounded p-3 bg-red-600 px-4 mb-4 hidden error">
                    <p id='demo' class="self-center">Une erreur s'est produite.</p>
                    <strong class="text-xl align-center cursor-pointer alert-del">&times;</strong>
                </div>

                <label for="default-search"
                    class="mb-2 text-sm font-medium text-amber-900 sr-only dark:text-white"></label>
                <div class="relative">
                    <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                        <svg aria-hidden="true" class="w-5 h-5 text-amber-500 dark:text-amber-400" fill="none"
                            stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                        </svg>
                    </div>
                    <input type="search" id="default-search"
                        class="px-4 mb-4 block w-full p-4 pl-10 text-sm text-amber-900 border border-amber-300 rounded-lg bg-amber-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-amber-700 dark:border-amber-600 dark:placeholder-amber-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="Numéro de ticket ..." required>
                    <button type="submit"
                        class="text-white absolute right-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Chercher</button>
                </div>

                <table class="table-auto border border-red-500 center  justify-center w-full  ">
                    <thead>
                        <tr>
                            <th class="text-black px-4 py-2 border-r border-b border-red-500">
                                Date

                            </th>
                            <th class=" text-black px-4 py-2 border-r border-b border-red-500">
                                Nom

                            </th>
                            </th>
                            <th class="text-black px-4 py-2 border-r border-b border-red-500">
                                Gain fourni

                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-black px-4 py-2 border-r border-b border-red-500">
                                25/02/2023

                            </td>
                            <td class="text-black px-4 py-2 border-r border-b border-red-500">
                                Thé vanille gratuit

                            </td>
                            <td class=" px-4 py-2 border-r border-b border-red-500">
                                <label class="relative inline-flex items-center mb-5 cursor-pointer">
                                    <input type="checkbox" value="" disabled="true" checked="true" class="sr-only peer">
                                    <div
                                        class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600">
                                    </div>
                                    <span class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-300">
                                        Récupéré</span>
                                </label>

                            </td>
                        </tr>
                        <tr>
                            <td class=" text-black px-4 py-2 border-r border-b border-red-500">
                                26/02/2023

                            </td>
                            <td class=" text-black px-4 py-2 border-r border-b border-red-500">
                                Bon d'achat de 30€

                            </td>
                            <td class="px-4 py-2 border-r border-b border-red-500">
                                <label class="relative inline-flex items-center mb-5 cursor-pointer">
                                    <input type="checkbox" value=""  checked="none" class="sr-only peer">
                                    <div
                                        class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600">
                                    </div>
                                    <span class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-300">
                                        Récupéré</span>
                                </label>

                            </td>

                        </tr>
                    </tbody>
                </table>






            </div>
        </div>

    </div>




</body>

</html>
