<!DOCTYPE html>
<html lang="en">
 <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src='https://cdn.tailwindcss.com'></script>
    <link rel="icon" href="../images/logo.jpg" >
    <title>Condition Generale</title>
  </head>
   {{> "header" }}
  <body>
    <div class="container sm mx-auto px-8 border-8  ">
      <div class="text-center p-5 my-5 border bg-black text-white">
        <h1 class="bg-black text-lg">CONDITIONS GÉNÉRALES </h1><br>
      </div>
        
       
    <div class="text-center p-1 my-5 divide-y divide-slate-200 ...">
        <h2 class="bg-lime-500 text-x-lg">Introduction</h2>
        <p class="m-2">
            Les présentes Conditions générales d'utilisation (ci-après "CGU") régissent l'utilisation du site Web (ci-après "le site") et des services offerts par le site.

          En accédant au site, vous acceptez d'être lié par ces CGU, ainsi que par notre Politique de confidentialité. Si vous n'acceptez pas ces CGU ou notre Politique de confidentialité, veuillez ne pas utiliser ce site.     
        </p>
    </div>
    <div class="text-center p-1 my-5 divide-y divide-slate-200 ...">
        <h2 class="bg-lime-500 text-lg">Utilisation du site </h2>
        <p>
           Vous acceptez d'utiliser le site conformément à la loi, à ces CGU, ainsi qu'aux règles et lignes directrices énoncées sur le site.
           Vous êtes seul responsable de toutes les données, informations, commentaires, contenus, messages ou autres éléments (ci-après "Contenu") que vous publiez, téléchargez, transmettez ou mettez à disposition sur le site.
            Vous acceptez de ne pas utiliser le site pour :
        </p>
        <ul>
            <li>Publier, télécharger, transmettre ou mettre à disposition tout Contenu qui est illégal, nuisible, menaçant, abusif, harcelant, diffamatoire, vulgaire, obscène, pornographique, blasphématoire, haineux, raciste ou autrement répréhensible.</li>
            <li>Porter atteinte à la vie privée ou aux droits de propriété intellectuelle d'autrui.</li>
            <li>Utiliser le site à des fins commerciales ou publicitaires sans notre autorisation écrite préalable</li>
            <li>Tenter d'accéder à des parties du site pour lesquelles vous n'êtes pas autorisé à accéder ou tenter de perturber, désactiver ou interférer avec les fonctionnalités du site.</li>
        </ul>
        <p>Nous nous réservons le droit de supprimer ou de modifier tout Contenu que vous publiez sur le site, à notre seule discrétion.</p>
    </div>
    <div class="text-center p-1 my-5 divide-y divide-slate-200 ...">
        <h2 class="bg-lime-500 text-lg">Propriété intellectuelle</h2>
        <p >
Le site et son contenu, y compris mais sans s'y limiter, les textes, graphismes, images, logos, marques de commerce, interfaces utilisateur, codes informatiques, logiciels, bases de données et autres contenus ou éléments (ci-après "le contenu du site") sont la propriété de notre société ou de nos concédants de licence.

Le contenu du site est protégé par les lois applicables en matière de propriété intellectuelle, y compris les droits d'auteur, les marques de commerce et les brevets.

Vous acceptez de ne pas utiliser le contenu du site sans notre autorisation écrite préalable ou celle de nos concédants de licence.
    
       </p>
    </div>
    
    <div class="text-center p-1 my-5 divide-y divide-slate-200 ...">
        <h2 class="bg-lime-500 text-lg">Exclusion de responsabilité</h2>
        <p>
           Le site est fourni "tel quel", sans aucune garantie de quelque nature que ce soit, expresse ou implicite.

Nous ne garantissons pas que le site sera disponible en continu, sans interruption ou sans erreur, que les défauts seront corrigés ou que le site ou les serveurs qui le rendent disponible sont exempts de virus ou d'autres composants nuisibles.

Nous ne serons en aucun cas responsables de tout dommage direct, indirect, spécial, accessoire ou cons
    </div>
    
    </div>
    
  </body> {{> "footer" }}
</html>


