<!DOCTYPE html>
<html lang="en">
 <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src='https://cdn.tailwindcss.com'></script>
    <title>Conditions d'utilisation</title>
  </head>
   {{> "header" }}
  <body>
    <div class="container sm mx-auto px-8 border-8  ">
      <div class="text-center p-5 my-5 border bg-black text-white">
        <h1 class="bg-black text-lg">Conditions d'utilisation</h1><br>
      </div>
        
           <div class="text-center p-1 my-5 divide-y divide-slate-200 ...">
        <h2 class="bg-lime-500 text-x-lg">- Bienvenue </h2>
        <p class="m-2">
Bienvenue sur notre site web de jeu concours ! Nous sommes ravis de vous accueillir et souhaitons vous informer sur notre politique de confidentialité et nos conditions d'utilisation pour que vous puissiez profiter de notre site en toute sécurité.       
        </p>
      
    </div>

    <div class="text-center p-1 my-5 divide-y divide-slate-200 ...">
        <h2 class="bg-lime-500 text-x-lg">Propriété intellectuelle</h2>
        <p class="m-2">
Tous les éléments présents sur notre site, tels que les textes, images, logos, icônes, graphiques, sont protégés par le droit d'auteur et la propriété intellectuelle. Vous n'êtes pas autorisé à copier, reproduire, modifier, publier, distribuer ou utiliser de quelque manière que ce soit tout ou partie de ces éléments sans notre autorisation écrite préalable.
        </p>
    </div>
    <div class="text-center p-1 my-5 divide-y divide-slate-200 ...">
        <h2 class="bg-lime-500 text-lg">Liens vers d'autres sites</h2>
        <p>
Notre site peut contenir des liens vers d'autres sites web. Nous ne sommes pas responsables du contenu de ces sites web ni des conséquences de leur utilisation.
        </p>
    </div>
    <div class="text-center p-1 my-5 divide-y divide-slate-200 ...">
        <h2 class="bg-lime-500 text-lg"> Modifications des conditions d'utilisation</h2>
        <p >
    Nous nous réservons le droit de modifier ces conditions d'utilisation à tout moment sans préavis. Il vous incombe de vérifier régulièrement ces conditions pour vous assurer que vous êtes en accord avec elles.  
       </p>
    </div>
    
    <div class="text-center p-1 my-5 divide-y divide-slate-200 ...">
        <h2 class="bg-lime-500 text-lg">Limitation de responsabilité</h2>
        <p>
            En participant à nos jeux concours, vous acceptez également les règles spécifiques à chaque concours, y compris les conditions de participation et les prix.
       Nous utilisons des cookies pour améliorer votre expérience utilisateur sur notre site web. Ces cookies nous permettent de suivre les pages que vous visitez, la fréquence et la durée de vos visites, ainsi que les concours auxquels vous participez. Ces informations sont utilisées pour personnaliser votre expérience sur notre plateforme et améliorer notre offre de concours. Vous pouvez choisir de désactiver les cookies dans les paramètres de votre navigateur.
       </p>
    </div>
    <div class="text-center p-1 my-5 divide-y divide-slate-200 ...">
        <h2 class="bg-lime-500 text-lg">- ARTICLE 5 - Protection des données</h2>
        <p>Nous nous engageons à protéger vos données personnelles et à garantir que vous profitez d'une expérience de jeu en ligne agréable et sécurisée. Si vous avez des questions ou des préoccupations concernant notre politique de confidentialité ou nos conditions d'utilisation, n'hésitez pas à nous contacter.
       Nous prenons la protection de vos informations personnelles très au sérieux et nous nous engageons à vous fournir une expérience de jeu concours sûre et agréable. Si vous avez des questions ou des préoccupations concernant notre politique de confidentialité ou nos conditions d'utilisation, n'hésitez pas à nous contacter.
       </p>
    </div>
    <div class="text-center p-1 my-5 divide-y divide-slate-200 ...">
        <h2 class="bg-lime-500 text-lg">- ARTICLE 6 - résiliation du compte</h2>
        <p>
            Nous nous réservons également le droit de résilier votre compte et de bloquer votre accès à notre site si vous ne respectez pas nos conditions d'utilisation.
       </p>
    </div>
    <div class="text-center p-1 my-5 divide-y divide-slate-200 ...">
        <h2 class="bg-lime-500 text-lg">- ARTICLE 7 - Modification des conditions d'utilisation</h2>
        <p>
            Nous nous réservons le droit de modifier nos conditions d'utilisation à tout moment. Nous vous recommandons de consulter régulièrement cette page pour vous tenir au courant des modifications apportées à nos conditions d'utilisation.
       </p>

    </div>
    <div class="text-center p-1 my-5 divide-y divide-slate-200 ...">
        <h2 class="bg-lime-500 text-lg">- ARTICLE 8 - Modification de la politique de confidentialité</h2>
        <p>
            Nous nous réservons le droit de modifier notre politique de confidentialité à tout moment. Nous vous recommandons de consulter régulièrement cette page pour vous tenir au courant des modifications apportées à notre politique de confidentialité.
       </p>
    </div>
    <div class="text-center p-1 my-5 divide-y divide-slate-200 ...">
        <h2 class="bg-lime-500 text-lg">- ARTICLE 9 - Contact</h2>
        <p>
            Si vous avez des questions ou des préoccupations concernant notre politique de confidentialité ou nos conditions d'utilisation, n'hésitez pas à nous contacter.
       </p>
    </div>
    <div class="text-center p-1 my-5 divide-y divide-slate-200 ...">
        <h2 class="bg-lime-500 text-lg">- ARTICLE 10 - Loi applicable</h2>
        <p>
            Les présentes conditions d'utilisation sont régies par la loi française. En cas de litige, les tribunaux français seront seuls compétents.
       </p>
    </div>
    
    </div>
     {{> "footer" }}
  </body>
</html>

