<!DOCTYPE html>
<html lang="en">
 <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src='https://cdn.tailwindcss.com'></script>
    <title>Politique de confidentialité et Conditions d'utilisation</title>
  </head>
   {{> "header" }}
  <body>
    <div class="container sm mx-auto px-8 border-8  ">
      <div class="text-center p-5 my-5 border bg-black text-white">
        <h1 class="bg-black text-lg">Politique de confidentialité et Conditions d'utilisation</h1><br>
      </div>
        
           <div class="text-center p-1 my-5 divide-y divide-slate-200 ...">
        <h2 class="bg-lime-500 text-x-lg">- Bienvenue </h2>
        <p class="m-2">
Bienvenue sur notre site web de jeu concours ! Nous sommes ravis de vous accueillir et souhaitons vous informer sur notre politique de confidentialité et nos conditions d'utilisation pour que vous puissiez profiter de notre site en toute sécurité.       
        </p>
    </div>

    <div class="text-center p-1 my-5 divide-y divide-slate-200 ...">
        <h2 class="bg-lime-500 text-x-lg">- ARTICLE 1 - Politique de confidentialité</h2>
        <p class="m-2">
Nous prenons très au sérieux la confidentialité des données de nos utilisateurs. Nous ne collectons que les informations nécessaires pour vous permettre de participer à nos jeux concours. Ces informations peuvent inclure votre nom, adresse e-mail et autres informations nécessaires pour valider votre participation.      
        </p>
    </div>
    <div class="text-center p-1 my-5 divide-y divide-slate-200 ...">
        <h2 class="bg-lime-500 text-lg">- ARTICLE 2 - Politique de confidentialité : Partage d'informations </h2>
        <p>
Nous ne partageons pas vos informations avec des tiers sans votre consentement. Nous pouvons utiliser vos informations pour vous informer de nos nouveaux concours et promotions, mais vous pouvez à tout moment vous désinscrire de ces communications.     
        </p>
    </div>
    <div class="text-center p-1 my-5 divide-y divide-slate-200 ...">
        <h2 class="bg-lime-500 text-lg">- ARTICLE 3 - Conditions d'utilisation de site web</h2>
        <p >
            En utilisant notre site web, vous acceptez nos conditions d'utilisation. Vous ne pouvez pas utiliser notre site web pour diffuser du contenu illégal, menaçant, diffamatoire, obscène ou offensant. Nous nous réservons le droit de supprimer tout contenu qui ne respecte pas nos règles.<br>
             Vous acceptez également de ne pas tenter de pirater ou de compromettre notre site web. Tout comportement suspect sera signalé aux autorités compétentes.    
       </p>
    </div>
    
    <div class="text-center p-1 my-5 divide-y divide-slate-200 ...">
        <h2 class="bg-lime-500 text-lg">- ARTICLE 4 - Conditions d'utilisation du participation au jeu concours</h2>
        <p>
            En participant à nos jeux concours, vous acceptez également les règles spécifiques à chaque concours, y compris les conditions de participation et les prix.
       Nous utilisons des cookies pour améliorer votre expérience utilisateur sur notre site web. Ces cookies nous permettent de suivre les pages que vous visitez, la fréquence et la durée de vos visites, ainsi que les concours auxquels vous participez. Ces informations sont utilisées pour personnaliser votre expérience sur notre plateforme et améliorer notre offre de concours. Vous pouvez choisir de désactiver les cookies dans les paramètres de votre navigateur.
       </p>
    </div>
    <div class="text-center p-1 my-5 divide-y divide-slate-200 ...">
        <h2 class="bg-lime-500 text-lg">- ARTICLE 5 - Protection des données</h2>
        <p>Nous nous engageons à protéger vos données personnelles et à garantir que vous profitez d'une expérience de jeu en ligne agréable et sécurisée. Si vous avez des questions ou des préoccupations concernant notre politique de confidentialité ou nos conditions d'utilisation, n'hésitez pas à nous contacter.
       Nous prenons la protection de vos informations personnelles très au sérieux et nous nous engageons à vous fournir une expérience de jeu concours sûre et agréable. Si vous avez des questions ou des préoccupations concernant notre politique de confidentialité ou nos conditions d'utilisation, n'hésitez pas à nous contacter.
       </p>
    </div>
    <div class="text-center p-1 my-5 divide-y divide-slate-200 ...">
        <h2 class="bg-lime-500 text-lg">- ARTICLE 6 - résiliation du compte</h2>
        <p>
            Nous nous réservons également le droit de résilier votre compte et de bloquer votre accès à notre site si vous ne respectez pas nos conditions d'utilisation.
       </p>
    </div>
    <div class="text-center p-1 my-5 divide-y divide-slate-200 ...">
        <h2 class="bg-lime-500 text-lg">- ARTICLE 7 - Modification des conditions d'utilisation</h2>
        <p>
            Nous nous réservons le droit de modifier nos conditions d'utilisation à tout moment. Nous vous recommandons de consulter régulièrement cette page pour vous tenir au courant des modifications apportées à nos conditions d'utilisation.
       </p>

    </div>
    <div class="text-center p-1 my-5 divide-y divide-slate-200 ...">
        <h2 class="bg-lime-500 text-lg">- ARTICLE 8 - Modification de la politique de confidentialité</h2>
        <p>
            Nous nous réservons le droit de modifier notre politique de confidentialité à tout moment. Nous vous recommandons de consulter régulièrement cette page pour vous tenir au courant des modifications apportées à notre politique de confidentialité.
       </p>
    </div>
    <div class="text-center p-1 my-5 divide-y divide-slate-200 ...">
        <h2 class="bg-lime-500 text-lg">- ARTICLE 9 - Contact</h2>
        <p>
            Si vous avez des questions ou des préoccupations concernant notre politique de confidentialité ou nos conditions d'utilisation, n'hésitez pas à nous contacter.
       </p>
    </div>
    <div class="text-center p-1 my-5 divide-y divide-slate-200 ...">
        <h2 class="bg-lime-500 text-lg">- ARTICLE 10 - Loi applicable de jeu concours</h2>
        <p>
            Les présentes conditions d'utilisation sont régies par la loi française. En cas de litige, les tribunaux français seront seuls compétents.
       </p>
    </div>
    
    </div>
     {{> "footer" }}
  </body>
</html>

