<!DOCTYPE html>
<html lang="en">
 <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src='https://cdn.tailwindcss.com'></script>
    <title>Condition Generale</title>
  </head>
   {{> "header" }}
  <body>
    <div class="container sm mx-auto px-8 border-8  ">
      <div class="text-center p-5 my-5 border bg-black text-white">
        <h1 class="bg-black text-lg">Conditions générales de réservation</h1><br>
      </div>
        
       
    <div class="text-center p-1 my-5 divide-y divide-slate-200 ...">
        <h2 class="bg-lime-500 text-x-lg">- ARTICLE 1 </h2>
        <p class="m-2">
            Ce contrat de location saisonnière est réservé à l'usage exclusif de la location d’hébergements AtypikHouse.<br>
    
            En aucun cas AtypikHouse ne saurait voir sa responsabilité engagée en cas d'utilisation de ses contrats par des tiers ou à des fins autres que .
            touristiques.        
        </p>
    </div>
    <div class="text-center p-1 my-5 divide-y divide-slate-200 ...">
        <h2 class="bg-lime-500 text-lg">- ARTICLE 2 - Durée du séjour </h2>
        <p>
            Le locataire signataire du présent contrat conclu pour une durée déterminée ne pourra en aucune circonstance se prévaloir d'un quelconque droit
             au maintien dans les lieux à l'issue du séjour.     
        </p>
    </div>
    <div class="text-center p-1 my-5 divide-y divide-slate-200 ...">
        <h2 class="bg-lime-500 text-lg">- ARTICLE 3 - Conclusion du contrat</h2>
        <p >
            La réservation devient effective dès lors que le locataire aura fait parvenir au propriétaire la somme du montant total de la location.
             Un exemplaire du contrat signé avant la date indiquée au recto devra être remis à l'arrivé. Un deuxième exemplaire est à conserver par 
             le locataire.<br>
             La location conclue entre les parties au présent acte ne peut en aucun cas bénéficier même partiellement à des tiers, personnes
              physiques ou morales, sauf accord écrit du propriétaire.<br>
              Toute infraction à ce dernier alinéa serait susceptible d'entraîner la résiliation immédiate de la location aux torts du locataire, 
              le produit de la location restant définitivement acquis au propriétaire.
    
       </p>
    </div>
    
    <div class="text-center p-1 my-5 divide-y divide-slate-200 ...">
        <h2 class="bg-lime-500 text-lg">- ARTICLE 4 - Absence de rétractation</h2>
        <p>
            Le locataire bénéficie du délai de rétractation, et ce conformément à l’article L121-21-8 du code de la consommation relatif notamment aux
             prestations de services d’hébergement fournies à une date ou selon une périodicité déterminée.
       </p>
    </div>
    <div class="text-center p-1 my-5 divide-y divide-slate-200 ...">
        <h2 class="bg-lime-500 text-lg">- ARTICLE 5 - Annulation par le locataire </h2>
        <p>Toute annulation doit être notifiée à travers par mail.<br>
            a) annulation avant l'arrivée dans les lieux :<br>
    
    
    L'hébergeur pourra demander le solde du montant du séjour, si l'annulation intervient moins de 24 heures avant la date prévue d'entrée dans les lieux.<br>
    
    Si le locataire ne se manifeste pas dans les 24 heures qui suivent la date d'arrivée indiquée sur le contrat, le présent contrat devient nul et
     le propriétaire peut disposer de son gîte. La somme reste également acquis au propriétaire.<br>
    
    b) si le séjour est écourté, le prix de la location reste acquis au propriétaire. Il ne sera procédé à aucun remboursement.
    
            
       </p>
    </div>
    <div class="text-center p-1 my-5 divide-y divide-slate-200 ...">
        <h2 class="bg-lime-500 text-lg">- ARTICLE 6 - Annulation par le propriétaire</h2>
        <p>
            Le locataire bénéficie du délai de rétractation, et ce conformément à l’article L121-21-8 du code de la consommation relatif notamment aux
             prestations de services d’hébergement fournies à une date ou selon une périodicité déterminée..
       </p>
    </div>
    <div class="text-center p-1 my-5 divide-y divide-slate-200 ...">
        <h2 class="bg-lime-500 text-lg">- ARTICLE 7 - Arrivée</h2>
        <p>
            Le locataire doit se présenter le jour précisé et l'heure mentionnée sur le présent contrat.
             En cas d'arrivée tardive ou différée, le locataire doit prévenir le propriétaire.
       </p>
    </div>
    <div class="text-center p-1 my-5 divide-y divide-slate-200 ...">
        <h2 class="bg-lime-500 text-lg">- ARTICLE 8 - Règlement du solde</h2>
        <p>
            Le solde de la location est versé en avance sur le site web.
       </p>
    </div>
    <div class="text-center p-1 my-5 divide-y divide-slate-200 ...">
        <h2 class="bg-lime-500 text-lg">- ARTICLE 9 -  Utilisation des lieux</h2>
        <p>
            Le locataire devra assurer le caractère paisible de la location et en faire usage conformément à la destination des lieux.
       </p>
    </div>
    <div class="text-center p-1 my-5 divide-y divide-slate-200 ...">
        <h2 class="bg-lime-500 text-lg">- ARTICLE 10 -  Capacité </h2>
        <p>
            Le présent contrat est établi pour une capacité maximum de personnes. Si le nombre de locataires dépasse la capacité d'accueil, 
            le propriétaire peut refuser les personnes supplémentaires. Toute modification ou rupture du contrat sera considérée à l’initiative du client.
       </p>
    </div>
    <div class="text-center p-1 my-5 divide-y divide-slate-200 ...">
        <h2 class="bg-lime-500 text-lg">- ARTICLE 11 - Accueil des animaux</h2>
        <p>
            Le présent contrat précise si le locataire peut ou non séjourner en compagnie d’un animal domestique. En cas de non respect de cette clause, 
            le propriétaire peut refuser le séjour : aucun remboursement ne sera alors effectué. Lors de la réservation, le client est tenu d’indiquer 
            le nombre d’animaux familiers qui l’accompagneront. Le cas échéant, la fiche descriptive précise les suppléments de tarifs éventuels à prévoir
             (tarif animal, supplément dépôt de garantie, supplément du forfait ménage…). Des modalités 
            de séjour spécifiques aux animaux familiers pourront être précisées par le propriétaire dans un règlement intérieur affiché dans l’hébergement.
       </p>
    </div>
    <div class="text-center p-1 my-5 divide-y divide-slate-200 ...">
        <h2 class="bg-lime-500 text-lg">- ARTICLE 12 - Assurances </h2>
        <p>
            Le locataire bénéficie du délai de rétractation, et ce conformément à l’article L121-21-8 du code de la consommation relatif notamment aux
             prestations de services d’hébergement fournies à une date ou selon une périodicité déterminée..
       </p>
    </div>
   
    
    </div>
     {{> "footer" }}
  </body>
</html>


