my dashboard
<!-- Hello session.client.user.lastName -->

<br>
{{! Path: dsp-archiwebf22-hm-hm-at-app/views/dashboard.hbs }}

hello {{client.user.lastName}}
<br>
test  : {{ test }}
<br>
<a href="/auth/logout">Se déconnecter</a>

