		<div class=" fixed bottom-10 left-0 z-50 mt-10 mx-auto px-20 hidden" id="cookie-banner">
<div style='background-color:rgb(255, 255, 255)'>
<div class="w-72 bg-white rounded-lg shadow-md p-6" style="cursor: auto;">
  <div class="w-16 mx-auto relative -mt-10 mb-3">
    <img class="-mt-1" src="https://www.svgrepo.com/show/30963/cookie.svg" alt="Cookie Icon SVG">
  </div>
  <span class="w-full sm:w-48  block leading-normal text-gray-800 text-md mb-3">Nous utilisons des cookies pour offrir une meilleure expérience utilisateur.</span>
  <div class="flex items-center justify-between">
    <a class="text-xs text-gray-400 mr-1 hover:text-gray-800" href="/politiquecookiesutilisation">Politique de confidentialité</a>
    <div class="w-1/2">
      <button id="cookie-accept" type="button" class="py-2 px-4  bg-indigo-600 hover:bg-indigo-700 focus:ring-indigo-500 focus:ring-offset-indigo-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2  rounded-lg ">Accepter</button>
    </div>
  </div>
</div>
</div>
</div>

        <!-- Navbar goes here -->
		<nav class="bg-lime-300" x-data="{navbarOpen:false} shadow-md  ">
			<div class="container max-w-7xl mx-auto px-2 sm:px-6 lg:px-8 ">
				<div class="flex items-center justify-between h-16">
					<div class="flex space-x-7">
						<div class="flex-shrink-0">
							<!-- Website Logo -->
							<a href="/" class="flex items-center py-4 px-2">
								<img src="/images/logo.jpeg" alt="Logo" class="h-8 w-8 mr-2">
								<span class="font-semibold text-blue-900 text-lg">TheTipTop</span>
							</a>
						</div>
						<!-- Primary Navbar items -->
						<div class="hidden md:flex items-center space-x-5 ml-4">
							<a href="/" class="py-4 px-2 text-black font-semibold hover:text-green-500 transition duration-300 ">Accueil</a>

							<a href="/quiSommeNous" class="py-4 px-2 text-black font-semibold hover:text-green-500 transition duration-300">Qui somme nous</a>
							<a href="/contacte" class="py-4 px-2 text-black font-semibold hover:text-green-500 transition duration-300">Contactez Nous</a>
							<a href="/modalitesParticipation" class="py-4 px-2 text-black font-semibold hover:text-green-500 transition duration-300">Modalites participation</a>
						</div>
					</div>
					<!-- Secondary Navbar items -->
					<div class="hidden md:flex items-center space-x-3 bg-green-600">
						<button onclick="window.location.href='/login'" class="bg-lime-900 hover:bg-lime-500 text-white font-bold py-2 px-4 rounded flex items-center justify-center space-x-2">
							<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
                            </svg>

                            <a href="/login" class="">Connexion</a>
						</button>


					</div>
					<!-- Mobile menu button -->
					<div class="md:hidden flex items-center">
						<button class="outline-none mobile-menu-button">
						<svg class=" w-6 h-6 text-lime-800 hover:text-lime-800 "
							x-show="!showMenu"
							fill="none"
							stroke-linecap="round"
							stroke-linejoin="round"
							stroke-width="2"
							viewBox="0 0 24 24"
							stroke="currentColor"
						>
							<path d="M4 6h16M4 12h16M4 18h16"></path>
						</svg>
					</button>
                    <button class="outline-none user-menu-button">
						<svg class=" w-5 h-5 text-lime-800 hover:text-lime-800 "
							x-show="!showMenu"
							fill="none"
							stroke-linecap="round"
							stroke-linejoin="round"
							stroke-width="2"
							viewBox="0 0 24 24"
							stroke="currentColor"
						>
                        <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
						</svg>
					</button>
					</div>


				</div>
			</div>
			<!-- mobile menu -->
			<div class="hidden mobile-menu">
				<ul class="">
					<li><a href="/" class="block text-sm px-2 py-4 text-white bg-lime-500 font-semibold">Accueil</a></li>

					<li><a href="/quiSommeNous" class="block text-sm px-2 py-4 hover:bg-green-500 transition duration-300">Qui somme nous ?</a></li>
					<li><a href="/contacte" class="block text-sm px-2 py-4 hover:bg-green-500 transition duration-300">Contactez-Nous</a></li>
					<li><a href="/modalitesParticipation" class="block text-sm px-2 py-4 hover:bg-green-500 transition duration-300">Modalites participation</a></li>

				</ul>
			</div>

            <div class="hidden user-menu">
				<ul class="">
					<li class=""><a href="/login" class="block text-sm px-2 py-4 hover:bg-lime-500 transition duration-300">Connexion</a></li>
					<li><a href="/registre" class="hidden block text-sm px-2 py-4 hover:bg-lime-500 transition duration-300">Inscription</a></li>

				</ul>
			</div>
            </nav>
			<script>
				const btn = document.querySelector("button.mobile-menu-button");
				const menu = document.querySelector(".mobile-menu ");
                const btnm = document.querySelector("button.user-menu-button");
                const menum = document.querySelector(".user-menu ");

				btn.addEventListener("click", () => {
					menu.classList.toggle("hidden");
				});
                btnm.addEventListener("click", () => {
					menum.classList.toggle("hidden");
				});
			</script>

        <script src='/dist/bundle.js'>
        </script>
        <!-- Google tag (gtag.js) -->
        <script
            async
            src='https://www.googletagmanager.com/gtag/js?id=G-MQLWG0DGZG'
        ></script>
        <script>
            window.dataLayer = window.dataLayer || []; function
            gtag(){dataLayer.push(arguments);} gtag('js', new Date());
            gtag('config', 'G-MQLWG0DGZG');
        </script>

