<!DOCTYPE html>
<html lang="en">
<head>
<meta name='google-signin-client_id' content='634747788205-6hh28obu9j2ape2qu8ch19bdkmpo2cuu.apps.googleusercontent.com' > <!-- ID client google app -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="author" content="thetiptop">
  <meta name="keywords" content="jeu concours, thé, gagner, inscrivez-vous">
  <meta name="description" content="Participez au jeu concours de thé organisé par TheTipTop et gagnez de nombreux lots. Consultez les modalités de participation et rejoignez-nous pour tenter votre chance.">
  <meta name="description" content="Participer au concours de thé">
  <meta name="description" content="Inscrivez-vous et gagnez">
  <meta name="description" content="Inscrivez-vous et gagnez">
  <link rel="icon" href="../images/logo.jpg" >
  <script src='https://cdn.tailwindcss.com'></script>

  <title>Jeu concours</title>

</head>

<body style="background-image: url('../images/tea.gif');" class="bg-no-repeat bg-cover bg-center">
{{> "header" }}
    <div>
        <a class="flex justify-center items-center "><img src="../images/logo.jpg" alt="Logo TheTipTop - Jeu concours de thé" class="w-32 h-32 py-3">
<a>
    </div>
     <div>
     <h1 class="text-white text-center text-4xl curved-text">Bienvenue dans le jeu-concours<strong class="text-lime-500"> TheTipTop</strong> </h1> 
     </div>
      <div class=" flex ">
        <img class="float-right ml-5 rounded-full w-60 h-60 animate-bounce " src="../images/acceuil.jpg" ></div>

     <div class="flex flex-row   ">
        <div class="border bg-black">
            <h2 class="text-white px-10 py-7 text-lg "> - TheTipTop fête l'ouverture de son magasin à Nice . <br> - TheTipTop organise un concours pour tous <br> 	&nbsp; ses clients afin de gagner de nombreux lots.
            <br> - Comment participer : <a href="/modalitesparticipation" class="underline animate-pulse  text-lime-500"> Modalités de participation</a> .</h2>
          
            <div class="px-10 py-5">
                <a href="#" class="bg-yellow-300 rounded-3xl py-3 px-8 font-medium inline-block mr-4 hover:bg-transparent hover:border-yellow-300 hover:text-white duration-300 hover:border border border-transparent">Connexion</a>
                <a href="#" class="bg-lime-300 rounded-3xl py-3 px-8 font-medium inline-block mr-4 hover:bg-transparent hover:border-lime-300 hover:text-white duration-300 hover:border border border-transparent">Inscription<span>&#10148;</span></a>
            </div>
        </div>  
     </div> 
    
</body>
{{> "footer" }}
 
</html>
