<!DOCTYPE html>

<html>
    <head>

        <!-- tailwindcss -->
        <link rel="stylesheet" href="https://unpkg.com/tailwindcss/dist/tailwind.min.css">

        <!-- fontawesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

        <!-- google fonts -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    </head>
    <body>

        <p>hello world</p>
    </body>
</html>
