<htm>
    <head>
        <script src='https://cdn.tailwindcss.com'></script>
    </head>
    <body class="container">
        <span class="error hidden">  aaa </span>
        <br/>
        <form id='employe'>
            <input type='text' id='email' name='email' placeholder='Email' />
            <input
                type='password'
                id='password'
                name='password'
                placeholder='Password'
            />
            <input id='login' type='submit' value='Login' />
        </form>
        <script src='/dist/bundle.js'>
        </script>
    </body>
</htm>
