<!DOCTYPE html>
<html lang="en">
  <head>
                <meta
            name='google-signin-client_id'
            content='634747788205-m7g24fkp9ritmo95b4iq9ih1ceui9a1v.apps.googleusercontent.com' > <!-- ID client google app -->

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src='https://cdn.tailwindcss.com'></script>
    <title>Login</title>

  </head>

  <body style="background-image: url('/images/papear.jpg');" class="bg-no-repeat bg-cover bg-center">
     {{> "header" }}
    <div class="min-h-screen w-100 py-40 h-100 W-100 " >
      <div class="container mx-auto">
        <div class="flex flex-col lg:flex-row w-10/12 lg:w-8/12 bg-white rounded-xl mx-auto shadow-lg overflow-hidden">
          <div class="w-full lg:w-1/2 flex flex-col items-center justify-center p-12 bg-no-repeat bg-cover bg-center" style="background-image: url('/images/tea.jpg');">

          </div>
          <div class="w-full lg:w-1/2 py-16 px-12">

             <h1  class="text-3xl mb-12 text-center text-green-800 ">Connexion</h1>

            <form id="client_signin">
                <div id="app">
                    <div class="max-w-md m-auto mt-6">
                      <div
                        class="border-t-4 border-blue-600 overflow-hidden rounded shadow-lg"
                      >
                        <p class="text-xl text-center mt-8 mb-8 bg-gray-100 text-center text-gray-700 py-5">Tapez votre e-mail et votre mot de passe</p>
                        <div class="px-4 mb-4">
                          <input
                          name="fname"
                            type="text"
                            placeholder="Adresse e-mail"
                            class="border border-gray rounded w-full p-3"
                            id="email"
                          />
                        </div>
                        <div class="px-4 mb-4">
                          <input
                          name="pwd"
                            type="password"
                            placeholder="Mot de passe "
                            class="border border-gray rounded w-full p-3"
                            id="password"
                          />
                        </div>
                        <div class="px-4 mb-4 flex">
                          <div class="w-1/2">

                          </div>
                          <div class="w-1/2 text-right">
                            <a href="#" class="font-semibold no-underline text-black"
                              >Mot de passe oublié?</a
                            >
                          </div>
                        </div>
                        <div class="px-4 mb-6">
                          <button
                            class="border border-blue-500 bg-blue-600
                            rounded w-full px-4 py-3 text-white font-semibold px-4 mb-4 "
                            name="" value="login"
                          />
                            Connexion
                          </button>
                            <div class="flex justify-between text-red-200 shadow-inner rounded p-3 bg-red-600  error hidden" >
      <p id='demo' class="self-center"></p>
      <strong class="text-xl align-center cursor-pointer alert-del"
        >&times;</strong
      >
    </div>
                          <hr class="my-6 border-gray-300 w-full">

        <button type="button" class="w-full block bg-white hover:bg-gray-100 focus:bg-gray-100 text-gray-900 font-semibold rounded-lg px-4 py-3 border border-gray-300">
          <div class="flex items-center justify-center">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="w-6 h-6" viewBox="0 0 48 48"><defs><path id="a" d="M44.5 20H24v8.5h11.8C34.7 33.9 30.1 37 24 37c-7.2 0-13-5.8-13-13s5.8-13 13-13c3.1 0 5.9 1.1 8.1 2.9l6.4-6.4C34.6 4.1 29.6 2 24 2 11.8 2 2 11.8 2 24s9.8 22 22 22c11 0 21-8 21-22 0-1.3-.2-2.7-.5-4z"/></defs><clipPath id="b"><use xlink:href="#a" overflow="visible"/></clipPath><path clip-path="url(#b)" fill="#FBBC05" d="M0 37V11l17 13z"/><path clip-path="url(#b)" fill="#EA4335" d="M0 11l17 13 7-6.1L48 14V0H0z"/><path clip-path="url(#b)" fill="#34A853" d="M0 37l30-23 7.9 1L48 0v48H0z"/><path clip-path="url(#b)" fill="#4285F4" d="M48 48L17 24l-4-3 35-10z"/></svg>
              <span class="ml-4">
             <a href="/auth/google">Connexion avec
              Google</a>
              </span>
          </div>
        </button>
        <hr class="my-6 border-gray-300 w-full">

        <button type="button"  class="w-full block bg-sky-400 hover:bg-gray-100 focus:bg-gray-100 text-gray-900 font-semibold rounded-lg px-4 py-3 border border-gray-300" >
          <div class="flex items-center justify-center">
            <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-4 w-4"
            fill="currentColor"
            viewBox="0 0 24 24">
            <path
              d="M9 8h-3v4h3v12h5v-12h3.642l.358-4h-4v-1.667c0-.955.192-1.333 1.115-1.333h2.885v-5h-3.808c-3.596 0-5.192 1.583-5.192 4.615v3.385z" />
          </svg>
              <span class="ml-4">
                Connexion
                avec
                Facebook
              </span>
          </div>
        </button>
                        </div>
                        <div class="bg-gray-100 text-center text-gray-700 py-5">
                          Vous n'avez pas de compte?
                          <a href="#" class="font-semibold no-underline text-black">Inscription</a>
                        </div>
                      </div>
                    </div>
                  </div>
            </form>
          </div>
        </div>
      </div>
    </div>{{> "footer" }}
            <script
            src='https://apis.google.com/js/platform.js'
            async
            defer
        ></script>

        <script src='/dist/bundle.js'>
        </script>
  </body>

</html>


