<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name='google-signin-client_id' content='634747788205-6hh28obu9j2ape2qu8ch19bdkmpo2cuu.apps.googleusercontent.com' >
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Participez à notre concours de thé et gagnez ! Inscrivez-vous dès maintenant pour avoir une chance de gagner !" />
    <link rel="icon" href="../images/logo.jpg" >
    <script src='https://cdn.tailwindcss.com'></script>
    <title>Login</title>

  </head>

  <body style="background-image: url('/images/pp.avif');" class="bg-no-repeat bg-cover bg-center">
    {{> "header" }}
    <div class="min-h-screen w-100 py-40 h-100 W-100  " >
      <div class="container mx-auto">
        <div class="flex flex-col lg:flex-row w-10/12 lg:w-8/12 bg-white rounded-xl mx-auto shadow-lg overflow-hidden">
          <div class="w-full lg:w-1/2 flex flex-col items-center justify-center p-12 bg-no-repeat bg-cover bg-center" style="background-image: url('/images/Tea-Tea-Cup-GIF-Tea-TeaCup-Rose-Discover.gif');"  alt="Tasse de thé avec des feuilles de menthe"></div>
              <span class="error hidden">erroooooor</span>
                <div class="w-full lg:w-1/2 py-16 px-12 bg-lime-50">
                  <div class="flex items-center justify-center mb-12 underline">
                      <div class=" text-green-800 text-3xl animate-pulse mr-2">
                           <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-9 h-9">
                               <path stroke-linecap="round" stroke-linejoin="round" d="M15 19.128a9.38 9.38 0 002.625.372 9.337 9.337 0 004.121-.952 4.125 4.125 0 00-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 018.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0111.964-3.07M12 6.375a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zm8.25 2.25a2.625 2.625 0 11-5.25 0 2.625 2.625 0 015.25 0z" />
                            </svg>
                      </div>
                         <h1 class="text-3xl text-center text-green-800 underline animate-pulse"><strong>Connexion</strong></h1>
                   </div>
                   <h2 class="text-lg text-center underline ">Inscrivez-vous et gagnez avec TheTipTop !</h2>

                    <form id="client_login" >
                      <div id="app">
                      <div class="max-w-md m-auto mt-6">
                      <div class="border-t-4 border-lime-600 overflow-hidden rounded shadow-lg">
                      <p class="text-xl text-center mt-8 mb-8 bg-lime-100 text-center text-gray-700 py-5"><strong>Tapez votre e-mail et votre mot de passe </strong> </p>
                      <div class="px-4 mb-4">
                        <input name="fname" id="email" type="text" placeholder="Adresse e-mail"
                        class="border border-gray rounded w-full p-3" id="email" />
                      </div>
                        <div class="px-4 mb-4">
                         <div class="relative">
                          <input id="password" name="pwd" type="password" placeholder="Mot de passe" class="w-full py-2 pr-10 pl-4 rounded-md border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 focus:ring-opacity-50">
                          <div class="absolute inset-y-0 right-0 pr-3 flex items-center text-sm leading-5">
                            <svg xmlns="http://www.w3.org/2000/svg" id="eye-icon" class="h-6 w-6 text-gray-700 cursor-pointer" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z" />
                            <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                            </svg>

                            <svg xmlns="http://www.w3.org/2000/svg" id="eye-slash-icon" class="h-6 w-6 text-gray-700 hidden cursor-pointer" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M3.98 8.223A10.477 10.477 0 001.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.45 10.45 0 0112 4.5c4.756 0 8.773 3.162 10.065 7.498a10.523 10.523 0 01-4.293 5.774M6.228 6.228L3 3m3.228 3.228l3.65 3.65m7.894 7.894L21 21m-3.228-3.228l-3.65-3.65m0 0a3 3 0 10-4.243-4.243m4.242 4.242L9.88 9.88" />
                            <path d="M1 1l22 22"/>
                            </svg>
                          </div>
                         </div>
                        </div>
                        <div class="px-4 mb-4 flex">
                          <div class="w-1/2"></div>
                          <div class="w-1/2 text-left underline">
                             <a href="#" class="font-semibold  text-black ">Mot de passe oublié?</a>
                          </div>
                        </div>
                       
                        <div class="px-4 mb-6">
                          <button class="border border-blue-500 bg-blue-600 rounded w-full px-4 py-3 text-white font-semibold px-4 mb-4 " name="" value="login"/>
                            Connexion
                          </button>
                          
                          <div class="flex justify-between text-red-200 shadow-inner rounded p-3 bg-red-600 " >
                            <p id='demo' class="self-center"><strong>Danger </strong>This is Danger alert.</p>
                            <strong class="text-xl align-center cursor-pointer alert-del">&times;</strong>
                          </div>
                          <hr class="my-6 border-gray-300 w-full">
                          
                          <button type="button" class="w-full block bg-white hover:bg-gray-100 focus:bg-gray-100 text-gray-900 font-semibold rounded-lg px-4 py-3 border border-gray-300">
                            <div class="flex items-center justify-center">
                              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="w-6 h-6" viewBox="0 0 48 48"><defs><path id="a" d="M44.5 20H24v8.5h11.8C34.7 33.9 30.1 37 24 37c-7.2 0-13-5.8-13-13s5.8-13 13-13c3.1 0 5.9 1.1 8.1 2.9l6.4-6.4C34.6 4.1 29.6 2 24 2 11.8 2 2 11.8 2 24s9.8 22 22 22c11 0 21-8 21-22 0-1.3-.2-2.7-.5-4z"/></defs><clipPath id="b"><use xlink:href="#a" overflow="visible"/></clipPath><path clip-path="url(#b)" fill="#FBBC05" d="M0 37V11l17 13z"/><path clip-path="url(#b)" fill="#EA4335" d="M0 11l17 13 7-6.1L48 14V0H0z"/><path clip-path="url(#b)" fill="#34A853" d="M0 37l30-23 7.9 1L48 0v48H0z"/><path clip-path="url(#b)" fill="#4285F4" d="M48 48L17 24l-4-3 35-10z"/></svg>
                              <span class="ml-4">
                                <a href="/auth/google">Connexion avec Google</a>
                              </span>
                            </div>
                          </button>

                          <hr class="my-6 border-gray-300 w-full">

                          <button type="button"  class="w-full block bg-white hover:bg-gray-100 focus:bg-gray-100 text-gray-900 font-semibold rounded-lg px-4 py-3 border border-gray-300" >
                            <div class="flex items-center justify-center">
                              <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-blue-600" fill="currentColor" viewBox="0 0 24 24">
                               <path d="M9 8h-3v4h3v12h5v-12h3.642l.358-4h-4v-1.667c0-.955.192-1.333 1.115-1.333h2.885v-5h-3.808c-3.596 0-5.192 1.583-5.192 4.615v3.385z" />
                              </svg>
                               <a href="/auth/facebook" class="px-3" style="color: blue;">Connexion avec Facebook</a>
                            </div>
                          </button>
                        </div>
                        <div class="bg-gray-100 text-center bg-lime-100 text-gray-700 py-5">
                          Vous n'avez pas de compte?
                          <a href="/register" class="font-semibold no-underline text-black">Inscription</a>
                        </div>

                      </div>
                      </div>
                     </div>
                     </div>
                     </div> 
                     </div>
                   </form>

          </div>
        </div>
      </div>
    </div>{{> "footer" }}
            <script
            src='https://apis.google.com/js/platform.js'
            async
            defer
        ></script>

        <script src='/js/main.js'>
            // Appelé lors du clic sur le bouton "Signup with Google" function
        </script>

        <script src='/dist/bundle.js'>
        </script>
        <script>
          // Get the eye icons
           const eyeIcon = document.getElementById('eye-icon');
           const eyeSlashIcon = document.getElementById('eye-slash-icon');

         // Get the password input field
          const passwordInput = document.getElementById('password');

        // Add click event listeners to the eye icons
           eyeIcon.addEventListener('click', () => {
        // Show the password
          passwordInput.type = 'text';
          eyeIcon.classList.add('hidden');
          eyeSlashIcon.classList.remove('hidden');
        });

         eyeSlashIcon.addEventListener('click', () => {
       // Hide the password
         passwordInput.type = 'password';
         eyeSlashIcon.classList.add('hidden');
         eyeIcon.classList.remove('hidden');
        });

        </script>
  
  </body>

</html>


