<!DOCTYPE html>
<html lang="en">
 <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src='https://cdn.tailwindcss.com'></script>
    <title>Mentions legale</title>
  </head>
   {{> "header" }}
  <body>
    <div class="container sm mx-auto px-8 border-8  ">
      <div class="text-center p-5 my-5 border bg-black text-white">
        <h1 class="bg-black text-lg">Mentions legale</h1><br>
      </div>
        
        <div class="text-center p-1 my-5 divide-y divide-slate-200 ...">
        <h2 class="bg-lime-500 text-x-lg">- Information légale de l’entreprise</h2>
        <p class="m-2">
 <ul>
        <li>Dénomination : TheTipTop</li>
        <li>Nom commercial : TheTipTop</li>
        <li>Forme juridique : SA</li>
        <li>Capital social : 150 000 €</li>
        <li>Date de création : 01/01/2000</li>
        <li>RCS : RCS Paris 123 456 789</li>
        <li>N° SIREN : 123456789</li>
        <li>N°SIRET : 123 456 789 0001000000000</li>
        <li>Code APE : 0000ZAE</li>
        <li>Activité : Thé bio</li>
      </ul>      
        </p>
    </div>
    <br>

    <div class="text-center p-1 my-5 divide-y divide-slate-200 ...">
                <h2 class="bg-lime-500 text-x-lg">  Hébergement du site  </h2>

        <p class="m-2">
Nom de l'hébergeur: DIGITAL ocian </p>
    </div>
    <div class="text-center p-1 my-5 divide-y divide-slate-200 ...">
                <h2 class="bg-lime-500 text-x-lg">  Propriété intellectuelle  </h2>

        <p class="m-2">
Tous les contenus présents sur le site sont la propriété de ThéTipTop et sont protégés par les lois françaises et internationales relatives à la propriété intellectuelle.</br>
	Toute reproduction ou utilisation des contenus sans autorisation écrite de ThéTipTop est strictement interdite.</p> </p>
    </div>
        <div class="text-center p-1 my-5 divide-y divide-slate-200 ...">
                <h2 class="bg-lime-500 text-x-lg"> Responsabilité  </h2>

        <p class="m-2">
Le site de ThéTipTop contient des liens vers des sites externes. ThéTipTop ne peut être tenu responsable des contenus présents sur ces sites externes</br>
	Les informations présentes sur le site sont données à titre indicatif et peuvent être modifiées à tout moment sans préavis. </p>
    </div>
          <div class="text-center p-1 my-5 divide-y divide-slate-200 ...">
                <h2 class="bg-lime-500 text-x-lg"> Données personnelles </h2>

        <p class="m-2">
<p>ThéTipTop s'engage à protéger les données personnelles des utilisateurs conformément à la réglementation en vigueur.</p>
	<p>Les données collectées sur le site sont destinées à l'usage exclusif de ThéTipTop et ne seront en aucun cas transmises à des tiers.</p>
	<p>Conformément à la loi "Informatique et Libertés", les utilisateurs disposent d'un droit d'accès, de rectification et de suppression des données les concernant. Pour exercer ce droit, merci de contacter ThéTipTop.</p> </p>
    </div>

    </div>
   
     {{> "footer" }}
  </body>
</html>

