<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src='https://cdn.tailwindcss.com'></script>
    <title>Réglement du jeu concours et modalités de participation</title>
</head>
{{> "header" }}

<body>
    <div class="container sm mx-auto px-8 border-8  ">
        <div class="text-center p-5 my-5 border bg-black text-white">
            <h1 class="bg-black text-lg">Réglement du jeu concours et modalités de participation</h1><br>
        </div>

        <div class="text-center p-1 my-5 divide-y divide-slate-200 ...">
            <h2 class="bg-lime-500 text-x-lg">- Bienvenue </h2>


            <p class="m-2">
                Nous sommes ravis de vous accueillir sur notre plateforme de jeu concours ! Avant de participer,
                veuillez lire attentivement les règles du jeu et les modalités de participation pour maximiser vos
                chances de gagner. </p>
        </div>
        <br>

        <p>
            Le règlement et les modalités du jeu-concours ont été déposés auprès de Maître Arnaud Rick huissier de
justice et le tirage au sort du gros lot sera également effectué sous le contrôle de ce dernier.
        </p>

        <div class="text-center p-1 my-5 divide-y divide-slate-200 ...">
            <h2 class="bg-lime-500 text-x-lg"> </h2>

            <p class="m-2">
                Notre jeu concours est ouvert à toute personne âgée de 18 ans ou plus résidant dans le pays où le
                concours est proposé, à moins que des restrictions légales ne s'appliquent. Les membres de notre équipe
                et leurs proches ne sont pas autorisés à participer au concours.
            </p>
            <br>
            <br>
            <p class="m-2">
                La participation est gratuite et aucune obligation d'achat n'est requise. Les participants peuvent
                soumettre une seule participation valide par personne.
            </p>
            <br>
            <br>
            <p class="m-2">
                Le gagnant sera sélectionné au hasard parmi les participants ayant respecté toutes les conditions de
                participation. Les résultats seront publiés sur notre site web et le gagnant sera contacté par e-mail
                pour recevoir son prix. Si le gagnant ne répond pas dans les 7 jours suivant la notification, un nouveau
                gagnant sera sélectionné.
            </p>
            <br>
            <br>
            <p class="m-2">
                Modalités de participation :
                Pour participer, vous devez remplir le formulaire d'inscription disponible sur notre site web. Les
                informations requises incluent votre nom, votre adresse e-mail, votre adresse postale et toute autre
                information requise pour le concours spécifique.
            </p>
            <br>
            <br>
            <p class="m-2">
100% des tickets seront gagnants, voici la répartition des gains :
            <ul>
            <li>60% des tickets offrent un infuseur à thé</li>
            <li>20% des tickets offrent une boite de 100g d’un thé détox ou d’infusion</li>
            <li>10% des tickets offrent une boite de 100g d’un thé signature</li>
            <li>6% des tickets offrent un coffret découverte d’une valeur de 39€</li>
            <li>4% des tickets offrent un coffret découverte d’une valeur de 69€</li>

            </ul>
            <br>
            <br>
            <p>
                Le jeu-concours aura lieu sur une période de 30 jours durant lesquels 1 500 000 de tickets maximums
pourront être distribués. Les joueurs auront les 30 jours du jeu concours ainsi que 30 jours supplémentaires à
compter de la date de clôture du jeu pour aller sur le site internet afin tester le numéro de leur(s) ticket(s) et
réclamer leur lot en magasin ou en ligne.            </p>

            </p>
            <p class="m-2">
                Les participants sont responsables de la véracité et de l'exactitude des informations fournies. Les
                informations incorrectes, incomplètes ou frauduleuses entraîneront la disqualification du participant.
            </p>
            <br>
            <br>
            <p class="m-2">
                Nous nous réservons le droit de disqualifier tout participant qui enfreint les règles du concours ou les
                modalités de participation, ou qui utilise des moyens frauduleux ou automatisés pour participer.
            </p>
            <br>
            <br>
            <p class="m-2">
                Nous sommes heureux de vous offrir l'opportunité de participer à nos concours et espérons que vous
                apprécierez l'expérience. Si vous avez des questions ou des préoccupations, n'hésitez pas à nous
                contacter à l'adresse e-mail fournie sur notre site web.
            </p>
            <br>
            <br>
            <p class="m-2">Bonne chance !
            </p>





        </div>

        {{> "footer" }}
</body>

</html>
