<!DOCTYPE html>
<html lang="en">
 <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src='https://cdn.tailwindcss.com'></script>
    <link rel="icon" href="../images/logo.jpg" >
    
    <title>Qui somme nous</title>
  </head>
   {{> "header" }}
  <body>
    <div class="container sm mx-auto px-8 border-8  ">
      <div class="text-center p-5 my-5 border bg-black text-white">
        <h1 class="bg-black text-lg">Qui somme nous</h1><br>
      </div>
        
           <div class="text-center p-1 my-5 divide-y divide-slate-200 ...">
        <h2 class="bg-lime-500 text-x-lg">- Bienvenue </h2>
        <p class="m-2">
    L’entreprise Thé Tip Top, est née de l’association entre Laure Sand et Marine Albert, autour d’une tasse de Thé… En 2017, ces deux amies ont souhaité rendre ce projet réel       
        </p>
    </div>

    <div class="text-center p-1 my-5 divide-y divide-slate-200 ...">
        <h2 class="bg-lime-500 text-x-lg">- Information légale de l’entreprise</h2>
        <p class="m-2">
 <ul>
        <li>Dénomination : TheTipTop</li>
        <li>Nom commercial : TheTipTop</li>
        <li>Forme juridique : SA</li>
        <li>Capital social : 150 000 €</li>
        <li>Date de création : 01/01/2000</li>
        <li>RCS : RCS Paris 123 456 789</li>
        <li>N° SIREN : 123456789</li>
        <li>N°SIRET : 123 456 789 0001000000000</li>
        <li>Code APE : 0000ZAE</li>
        <li>Activité : Thé bio</li>
      </ul>      
        </p>
    </div>
    <div class="text-center p-1 my-5 divide-y divide-slate-200 ...">
        <h2 class="bg-lime-500 text-lg">- Notre specialité </h2>
        <p>
    <p>ThéTipTop est spécialisée dans la promotion de gammes de thés de très grande qualité, avec des mélanges signatures de l'entreprise, des thés détox, des thés blancs, des thés légumes, infusions, etc. Tous les thés proposés par ThéTipTop sont bios et artisanaux.</p>
      <p>L’entreprise Thé Tip Top est une entreprise qui se base sur des valeurs éthiques, et porte un intérêt important à l’économie responsable et biologique.</p>
      <p>Très soucieux des problématiques liées à l’écologie, Thé TipTop s’engage dans une démarche de respect de l’environnement. Thé TipTop s’allie aux principes du développement durable et du commerce équitable : transparence et traçabilité sur tous les produits importés, respect de l’environnement et de la biodiversité, absence de travail des enfants et de travail forcé, égalité entre les travailleurs. Ainsi tous les acteurs de la chaîne commerciale répondent aux exigences du Label WFTO (World Fair Trade Organization). Les matériaux utilisés pour la confection des boîtes de thé sont conçus dans des matières recyclées ou biodégradables. Les feuilles de thé sont cultivées selon les exigences de l’agriculture biologique (normes européennes et françaises) pour une consommation plus responsable, plus authentique et plus naturelle.</p>     
        </p>
    </div>

    
    </div>
     {{> "footer" }}
  </body>
</html>

