<div class="fixed-1 lg:flex-10  h-screen">
    <span class="absolute text-white text-4xl top-5 left-4 cursor-pointer lg:hidden" onclick="openSidebar()">
        <i class="bi bi-filter-left px-2 bg-gray-900 rounded-md"></i>
    </span>
    <div class="sidebar hidden lg:block top-0 bottom-0 lg:left-0 p-2 w-[300px] overflow-y-auto text-center bg-gray-900 h-screen ">
        <div class="text-gray-100 text-xl">
            <div class="p-2.5 mt-1 flex items-center">
                <a href="/" class="flex items-center py-4 px-2 mt-8 lg:mt-0">
                    <img src="/images/logo.jpeg" alt="Logo TheTipTop - Jeu concours de thé - thé de qualité - mélanges signatures - thés détox - thés blancs - thés aux légumes" class="h-8 w-8 mr-2">
                    <span class="font-semibold text-lime-500 text-lg">TheTipTop</span>
                </a>

                <i class="bi bi-x cursor-pointer ml-28 lg:hidden" onclick="openSidebar()"></i>
            </div>
            <div class="my-2 bg-gray-600 h-[1px]"></div>
        </div>

        <div
            class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-blue-600 text-white">
            <a href="/">
                <i class="bi bi-house-door-fill"></i>
                <span class="text-[15px] ml-4 text-gray-200 font-bold">Accueil</span></a>
        </div>


        <div class="my-4 bg-gray-600 h-[1px]"></div>



        <a href="/auth/client/logout">
            <div
                class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-blue-600 text-white">
                <i class="bi bi-box-arrow-in-right"></i>
                <span class="text-[15px] ml-4 text-gray-200 font-bold">Déconnexion</span>
            </div>
        </a>
    </div>

</div>

<script type="text/javascript">

    function openSidebar() {
        document.querySelector(".sidebar").classList.toggle("hidden");
    }
</script>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-MQLWG0DGZG"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-MQLWG0DGZG');
</script>
