<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src='https://cdn.tailwindcss.com'></script>
    <title>Historique des gains</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css" />
</head>



<!-- component -->

<body class=" bg-withe ">

    <div class=" flex ">
        {{> "sidebar_admin" }}

        <div class=" px-3 flex mt-6 justify-center flex-1	">
            <div class="w-full px-6   py-4  rounded-lg mt-10 lg:mt-0">



                <a href="/downloads/clients"><img  src="/images/download-install-line-icon.svg" width="40rem" class="float-right"/>
                </a>

                <h2 class="text-center my-8 text-4xl uppercase">Le jeu concours en chiffres</h2>


                <div class="flex container mx-auto px-8 py-8 place-content-center justify-center items-center">



                    <div class="flex-1 w-32 ...">

                        <div class="grid grid-cols-2 md:grid-cols-2 gap-4 p-4">
                            <div class="bg-white rounded-lg shadow-lg p-6">
                                <p class="text-2xl font-bold text-green-700">{{ stats.participants.length }}</p>
                                <h2 class="text-lg font-medium mb-4 font-bold text-2xl">Participants </h2>
                            </div>
                            <div class="bg-white rounded-lg shadow-lg p-6">
                                <h2 class="text-lg font-medium mb-4 font-bold text-2xl">Gains d'une valeur total de </h2>
                                <p class="text-2xl font-bold text-green-700"> {{stats.gainsEURTotal}} EUR</p>
                            </div>

                        </div>

                        <div class="grid grid-cols-2 md:grid-cols-2 gap-4 p-4">
                            <div class="bg-white rounded-lg shadow-lg p-6">
                                <p class="text-2xl font-bold text-green-700">{{ stats.gains}}</p>
                                <h2 class="text-lg font-medium mb-4 font-bold text-2xl">Gains fournies</h2>
                            </div>
                            <div class="bg-white rounded-lg shadow-lg p-6">
                                <h2 class="text-lg font-medium mb-4 font-bold text-2xl">Taux de participation</h2>
                                <p class="text-2xl font-bold text-green-700">{{stats.tauxParticipation}}%</p>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>




</body>

</html>
